<%- include('partials/header') %>
  <div class="form-container">
    <h2>Select One</h2>
    <div class="form">
      <a href="/upload" class="btn">Upload</a>
      <a href="/list" class="btn">List</a>
    </div>
  </div>
<%- include('partials/footer') %>
