<%- include('partials/header') %>
<div class="progress-container">
    <div class="progress-item">
        <div class="label">Downloading Item 1</div>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 30%;">
                <span class="percentage">30%</span>
            </div>
        </div>
    </div>
    <div class="progress-item">
        <div class="label">Downloading Item 2</div>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 50%;">
                <span class="percentage">50%</span>
            </div>
        </div>
    </div>
    <div class="progress-item">
        <div class="label">Downloading Item 3</div>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 70%;">
                <span class="percentage">70%</span>
            </div>
        </div>
    </div>
    <div class="progress-item">
        <div class="label">Downloading Item 4</div>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 90%;">
                <span class="percentage">90%</span>
            </div>
        </div>
    </div>
    <div class="progress-item">
        <div class="label">Downloading Item 5</div>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 100%;">
                <span class="percentage">100%</span>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>